@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Mulish", sans-serif;
}

:root {
  --color-orange: #ff5400;
  --color-gray: #424247;
  --main-width: 1170px;
  --paragraph: rgba(19, 19, 24, 0.7);
}

header {
  margin-top: 30px;
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: var(--main-width);
  margin: 0 auto;
}

.nav-logo {
  display: flex;
  align-items: center;
}

.nav-logo h1 {
  margin-left: 10px;
  font-size: 36px;
  font-weight: 700;
}

.nav-logo h1 span {
  color: var(--color-orange);
}

/* nav list  */

nav ul {
  display: flex;
}

nav ul li {
  list-style: none;
}

nav ul li a {
  text-decoration: none;
  margin-left: 30px;
  color: var(--color-gray);
  transition: all 0.5s;
}

nav ul li a:hover {
  color: var(--color-orange);
}

nav ul li .home {
  color: var(--color-orange);
}

.navbar-icon {
  display: none;
}
/* banner style start */

.banner-section {
  margin-top: 30px;
}

.banner-container {
  width: var(--main-width);
  margin: 0 auto;
  height: 450px;
  background-image: linear-gradient(
      180deg,
      rgba(19, 19, 24, 0.8) 0%,
      rgba(19, 19, 24, 0) 100%
    ),
    url("Images/banner.png");
  background-repeat: no-repeat;
  background-size: 100%;
  border-radius: 16px;
}

.banner-container h1 {
  padding-top: 90px;
  font-size: 50px;
  color: #fff;
  text-align: center;
}

.banner-container > p {
  color: #fff;
  padding: 20px 10px;
  text-align: center;
}

.search-container {
  width: 70%;
  margin: 35px auto;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.3);
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px 10px;
  gap: 10px;
}

.banner-card {
  width: 174px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 13px;
  border-radius: 8px;
  cursor: pointer;
  color: var(--color-gray);
}

.search-box {
  background-color: var(--color-orange);
  display: flex;
  justify-content: center;
}

.search-box > p {
  color: #fff;
}

.search-box > p > span {
  margin-left: 10px;
}

/* pupoler section style start */

.pupoler-section {
  margin-top: 50px;
  padding: 10px 0;
}

.pupoler-container {
  max-width: var(--main-width);
  margin: 0 auto;
  display: flex;
  gap: 40px;
  align-items: center;
}

.pupoler-title,
.pupoler-img {
  width: 50%;
}

.pupoler-title > h1 {
  font-size: 40px;
  font-weight: 800;
  color: #131318;
}

.pupoler-title p {
  color: var(--paragraph);
  line-height: 26px;
  padding: 20px 0;
}

.pupoler-title ul li {
  margin-top: 20px;
  margin-left: 40px;
  line-height: 26px;
  color: var(--paragraph);
}

.pupoler-btn {
  padding: 10px 25px;
  background-color: var(--color-orange);
  border: none;
  border-radius: 8px;
  color: #fff;
  font-weight: 500;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.5s;
}

.pupoler-btn:hover {
  background-color: black;
}

.pupoler-img img {
  width: 100%;
}

/* destination style start */

.destination-section {
  margin-top: 50px;
  /* text-align: center; */
}

.destination-section > h1 {
  text-align: center;
  font-size: 40px;
  font-weight: 700;
}

.destination-section > p {
  text-align: center;
  color: var(--color-gray);
  padding: 15px 0;
  line-height: 26px;
}

.destination-container {
  max-width: var(--main-width);
  margin: 20px auto;
}

.row1 {
  display: flex;
  gap: 20px;
}

.row2 {
  display: flex;
  justify-content: space-around;
  gap: 20px;
  margin-top: 15px;
}

.row3 {
  display: flex;
  justify-content: space-around;
  gap: 20px;
  margin-top: 15px;
}

.destination-card {
  position: relative;
}

.destination-card img {
  width: 100%;
}

.destination-card > p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 20px;
  font-weight: 700;
}

/* more destination start */

.more-destination {
  margin-top: 50px;
}

.more-destination > h1 {
  text-align: center;
  font-size: 40px;
  color: #131318;
  font-weight: 700;
}

.more-container {
  max-width: var(--main-width);
  margin: 30px auto;
  display: flex;
  gap: 20px;
}

.more-column {
  width: 400px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 16px;
}

.more-card {
  padding: 20px 20px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  color: #131318;
  font-size: 18px;
}

/* why choose style start */

.choose-section {
  margin-top: 50px;
}

.choose-section > h1 {
  font-size: 40px;
  font-weight: 700;
  text-align: center;
  padding: 15px 0;
  color: #131318;
}

.choose-section > p {
  font-size: 16px;
  line-height: 26px;
  font-weight: 500;
  text-align: center;
  color: var(--paragraph);
}

.choose-container {
  max-width: var(--main-width);
  margin: 30px auto;
}

.choose-row1 {
  display: flex;
  gap: 20px;
}

.choose-container img {
  width: 50px;
  height: 50px;
}

.choose-card {
  padding: 25px 20px;
  border-radius: 16px;
}

.choose-card h2 {
  padding: 15px 0;
  color: #131318;
}

.choose-card p {
  color: var(--paragraph);
  line-height: 26px;
}

.hotel {
  border: 1px solid rgba(251, 181, 99, 0.2);
  background: rgba(251, 181, 99, 0.05);
}

.map {
  border: 1px solid rgba(41, 206, 246, 0.2);
  background: rgba(41, 206, 246, 0.05);
}

.choose-row2 {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.price-tag {
  border: 1px solid rgba(233, 68, 68, 0.2);
  border-radius: 16px;
  background: rgba(233, 68, 68, 0.05);
  width: 50%;
  margin: auto;
}

/* discount section style start */

.discount-section {
  margin-top: 50px;
}

.discount-section > h1 {
  font-size: 40px;
  font-weight: 700;
  text-align: center;
  padding: 15px 0;
  color: #131318;
}

.discount-section > p {
  font-size: 16px;
  line-height: 26px;
  font-weight: 500;
  text-align: center;
  color: var(--paragraph);
}

.discount-container {
  max-width: var(--main-width);
  margin: 0 auto;
}

.discount-row {
  width: 100%;
  background-image: url("Images/deals-banner1.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 466px;
  margin-top: 40px;
  border-radius: 16px;
  position: relative;
}

.discount-card {
  max-width: 570px;
  border-radius: 16px;
  border: 2px solid #fff;
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(2.5px);
  padding: 40px;
  position: absolute;
  bottom: 50px;
  right: 50px;
}

.discount-card a {
  text-decoration: none;
  margin-right: 30px;
  color: var(--paragraph);
}

.discount-card a > i {
  color: var(--color-orange);
}

.discount-card > h2 {
  font-size: 24px;
  font-weight: 700;
  padding: 20px 0;
}

.discount-card > p {
  color: var(--paragraph);
  font-weight: 500;
  line-height: 26px;
}

.discount-card > h3 {
  color: var(--color-orange);
  font-size: 20px;
  font-weight: bold;
  padding: 20px 0;
}

.discount-container > button,
.discount-card button {
  padding: 10px 25px;
  border: none;
  background-color: var(--color-orange);
  border-radius: 8px;
  font-size: 20px;
  color: #fff;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.5s;
}

.discount-card button:hover {
  background-color: black;
}

.discount-row2 {
  background-image: url("Images/deals-banner2.png");
  background-repeat: no-repeat;
  background-position: 100%;
  position: relative;
}

.discount-row2 > .discount-card {
  position: absolute;
  bottom: 50px;
  left: 50px;
}

.discount-container > button {
  margin: 40px auto;

  display: block;
}

.discount-container > button:hover {
  background-color: black;
}

/* perfect-place-section start style */

.perfect-place-section {
  margin-top: 50px;
}

.perfect-container {
  max-width: var(--main-width);
  margin: auto;
  display: flex;
  flex: 1;
}

.perfect-title,
.perfect-video {
  width: 50%;
  padding: 10px;
}

.perfect-title h1 {
  font-size: 40px;
  font-weight: bold;
  color: #131318;
}

.perfect-title p {
  color: var(--paragraph);
  line-height: 26px;
  padding-top: 15px;
}

.perfect-title ul li {
  margin-left: 30px;
  color: #131318;
  font-weight: bold;
  padding: 15px 0;
}

.perfect-title button {
  padding: 10px 30px;
  background-color: var(--color-orange);
  border-radius: 8px;
  font-size: 18px;
  font-weight: 700;
  color: #fff;
  border: none;
  margin-top: 15px;
  cursor: pointer;
  transition: all 0.5s;
}

.perfect-title button:hover {
  background-color: black;
}

.perfect-video video {
  width: 100%;
  border-radius: 16px;
}

.perfect-video {
  position: relative;
}

.perfect-video span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-weight: bold;
  text-align: center;
  line-height: 26px;
}

/* trips section start  */
.trips-section {
  margin-top: 30px;
}

.trips-section > h1 {
  text-align: center;
  padding: 30px 0;
  font-size: 40px;
  font-weight: bold;
}

.trips-container {
  max-width: var(--main-width);
  margin: 0 auto;
  display: flex;
  gap: 20px;
  margin-top: 30px;
}

.national-park,
.road-trips {
  width: 50%;
  height: 300px;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  line-height: 36px;
  color: #fff;
}

.national-park {
  background-image: linear-gradient(
      180deg,
      #131318 -31.96%,
      rgba(19, 19, 24, 0) 100%
    ),
    url("Images/bandorban.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.road-trips {
  background-image: linear-gradient(
      180deg,
      #131318 -31.96%,
      rgba(19, 19, 24, 0) 100%
    ),
    url("Images/road-trips.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.trips-container button {
  padding: 10px 30px;
  border: none;
  border-radius: 8px;
  background-color: var(--color-orange);
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  margin-top: 20px;
  cursor: pointer;
  transition: all 0.5s;
}

.trips-container button:hover {
  background-color: black;
}

/* newsletter container */

.newsletter-section {
  margin-top: 70px;
}

.newsletter-container {
  max-width: var(--main-width);
  margin: auto;
  display: flex;
  gap: 20px;
}

.newsletter-form {
  padding: 30px;
  border-radius: 16px;
  border: 1px solid #ff5400;
  max-height: 422px;
}

.newsletter-form p {
  padding: 15px 0;
}

.newsletter-form hr {
  margin: 20px 0;
}

.newsletter-form input {
  margin-top: 20px;
  width: 100%;
  padding: 15px;
  border: none;
  border-radius: 8px;
  background: rgba(19, 19, 24, 0.05);
}

.newsletter-form input:focus {
  outline: none;
}

.newsletter-form input[type="button"] {
  background-color: var(--color-orange);
  font-size: 18px;
  font-weight: 500;
  color: #fff;
  cursor: pointer;
  transition: all 0.5s;
}

.newsletter-form input[type="button"]:hover {
  background-color: black;
}

.newsletter-img {
  max-height: 422px;
  position: relative;
}

.newsletter-img img {
  width: 100%;
}

.save-up {
  position: absolute;
  background-color: var(--color-orange);
  bottom: 35px;
  right: 10px;
  color: #fff;
  padding: 15px 20px;
  border-radius: 16px;
  text-align: center;
  rotate: -20deg;
}

/* footer section start style */

footer {
  margin-top: 60px;
  background-color: rgba(19, 19, 24, 0.05);
  padding: 50px 0;
}

.footer-container {
  width: 50%;
  margin: auto;
  padding-top: 30px;
  text-align: center;
}

.footer-logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-logo img {
  width: 40px;
  height: 40px;
}

.footer-logo h1 {
  margin-left: 10px;
  color: #131318;
  font-weight: bold;
}

.footer-logo h1 span {
  color: var(--color-orange);
}

footer p {
  padding: 20px 0;
  font-weight: 500;
  color: var(--paragraph);
  line-height: 26px;
}

.social-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding-bottom: 30px;
}

.social-container a {
  color: black;
  font-size: 20px;
}

/* mobile responsive start */
@media screen and (max-width: 600px) {
  .more-container,
  .trips-container,
  .footer-container,
  .newsletter-container,
  .perfect-container,
  .discount-row,
  .choose-row2,
  .choose-row1,
  .destination-container,
  .pupoler-container,
  .banner-container,
  header nav {
    width: 90%;
    margin: auto;
  }

  .more-container,
  .trips-container,
  .newsletter-container,
  .perfect-container,
  .choose-row1,
  .row3,
  .row2,
  .row1 {
    flex-direction: column;
  }

  .more-column,
  .national-park,
  .road-trips,
  .perfect-title,
  .perfect-video,
  .price-tag,
  .pupoler-img,
  .pupoler-title {
    width: 100%;
  }

  .pupoler-container {
    flex-direction: column;
  }

  .navbar-icon {
    display: block;
    font-size: 25px;
    cursor: pointer;
  }

  .nav-logo img {
    width: 40px;
  }

  .nav-logo h1 {
    font-size: 25px;
  }

  nav ul {
    display: none;
  }

  /* banner section */
  .banner-container {
    height: 483px;
    background: linear-gradient(
        180deg,
        rgba(19, 19, 24, 0.8) 0%,
        rgba(19, 19, 24, 0) 100%
      ),
      url("Images/banner.png");
    background-position: center;
    background-repeat: no-repeat;
  }

  .banner-container h1 {
    padding-top: 20px;
    font-size: 30px;
    color: #fff;
    text-align: center;
  }

  .search-container {
    flex-direction: column;
    width: 90%;
    padding: 10px 10px;
    margin-top: 0;
  }

  .banner-card {
    width: 100%;
    margin-top: 10px;
    padding: 15px 10px;
  }

  /* destination  */

  .destination-card {
    height: 176px;
  }

  .destination-card img {
    width: 100%;
    height: 100%;
  }

  /* chooose style */
  .choose-row2 {
    margin-top: 20px;
  }

  /* discount style start */
  .discount-row {
    height: 500px;
    background-size: cover;
    background-position: center;
    object-fit: cover;
    margin-top: 40px;
  }

  .discount-row2 > .discount-card,
  .discount-card {
    position: absolute;
    max-height: 350px;
    padding: 10px 10px;
    left: 10px;
    right: 10px;
    bottom: 30px;
  }

  footer {
    padding: 10px 0;
  }
}

/* midium responsive  */

@media screen and (min-width: 600px) and (max-width: 990px) {
  .more-container,
  .trips-container,
  .newsletter-container,
  .perfect-container,
  .discount-container,
  .choose-container,
  .destination-container,
  .pupoler-container,
  .banner-container,
  header nav {
    width: 90%;
  }

  .more-column,
  .perfect-title,
  .perfect-video,
  .pupoler-img,
  .pupoler-title {
    width: 100%;
  }

  .more-container,
  .newsletter-container,
  .perfect-container,
  .pupoler-container {
    flex-direction: column;
  }

  .navbar-icon {
    display: block;
    font-size: 25px;
    cursor: pointer;
  }

  .nav-logo img {
    width: 40px;
  }

  .nav-logo h1 {
    font-size: 25px;
  }

  nav ul {
    display: none;
  }

  /* banner section */
  .banner-container {
    height: 483px;
    background: linear-gradient(
        180deg,
        rgba(19, 19, 24, 0.8) 0%,
        rgba(19, 19, 24, 0) 100%
      ),
      url("Images/banner.png");
    background-position: center;
    background-repeat: no-repeat;
  }

  .banner-container h1 {
    padding-top: 20px;
    font-size: 30px;
    color: #fff;
    text-align: center;
  }

  .search-container {
    flex-direction: column;
    width: 90%;
    padding: 10px 10px;
    margin-top: 0;
  }

  .banner-card {
    width: 100%;
    margin-top: 10px;
    padding: 15px 10px;
  }

  /* destination style */

  .row2 {
    display: flex;
    justify-content: space-around;
  }
}
